@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background: #000;
	--foreground: #fff;
	--danger: #ec221f;
	--danger_border: #c00f0c;
	--warning: #e8b931;
	--warning_border: #975102;
	--success: #14ae5c;
	--success_border: #00582f;

	--nav_height: 80px;
}

button:hover {
	--danger: #c00f0c;
	--danger_border: #900b09;
	--warning: #e5a000;
	--warning_border: #522504;
	--success: #009951;
	--success_border: #02542d;
}

html {
	font-size: 16px;
}

*,
*::after,
*::before {
	transition: all 0.3s linear;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	text-decoration: none;
	background-color: var(--background);
	color: var(--foreground);
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-size: 1rem;
}

h1 {
	font-size: 1.25rem;
}

h3 {
	font-size: 0.75rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
	background-color: transparent !important;
	color: inherit !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
	background-color: white !important;
	color: #000 !important;
	box-shadow: 0 0 0 1000px white inset !important;
}

input:autofill,
textarea:autofill {
	font-family: 'Montserrat', serif !important;
	transition: all 100000s ease-in-out;
}

a {
	color: inherit;
	text-decoration: none;
}

svg {
	height: 1rem;
	width: 1rem;
	background: transparent;
}

button {
	border: none;
	cursor: pointer;
	padding: 0.75rem 1rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
}

.primary {
	color: var(--background);
	background-color: var(--foreground);
}

.primary svg {
	fill: var(--background);
	margin-right: 0.25rem;
}

.neutral {
	background-color: transparent;
	border: 2px solid var(--background);
}

.success {
	color: var(--foreground);
	background-color: var(--success);
}

.subtle {
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	padding: 0.5rem;
	aspect-ratio: 1/1;
}

.subtle:hover {
	background-color: #ffffff19;
}
