.inputGroup {
	position: relative;
	width: 100%;
}

.inputLabel {
	position: absolute;
	top: 1.35rem;
	left: 1rem;
}

.input:autofill + .inputLabel,
.input:focus + .inputLabel,
.input:valid + .inputLabel {
	top: 0rem;
	font-size: 0.8rem;
}

.hideButton {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
}

.input:active .inputLabel {
	left: 1rem;
	bottom: -2rem;
}

.input {
	margin: 0.5rem 0;
}
