.itemCard {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid var(--foreground);
	margin: 1rem 0;
	width: 100%;
}

.mutableInfoSection {
	display: flex;
	align-items: center;
}

.editLink {
	padding: 0.75rem 1rem;
	margin-left: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--foreground);
	color: var(--background);
}

.editLink svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--background);
}

.infoSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
